{% extends "base.html" %}

{%load static%}

{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block content %}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
        <h5>Presupuesto correspondeniente a la orden N°{{orden.id}} del vehiculo {{orden}}</h5>
    </div>


</div>

    <div class="card">
        <div class="card-header">
       <h5>Cliente {{ orden.auto.cliente.nombre }} {{ orden.auto.cliente.apellido }}</h5>
    </div>


</div>
<form method="POST" action="{% url 'crear-presupuesto' orden_id=orden.id %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

</div>



{% endblock content %}
```